.home-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-gap: 20px; */
    justify-content: center;
    align-items: center;
}

/* deixar as duas colunas ocupando a largura toda da tela e coladas uma na outra */
.home-container .card {
    width: auto;
    margin: 0;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}